.container {
    /*border: 2px solid black;*/
    padding-top: 0em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.min-container {
    /*border: 2px solid black;*/
    padding-top: 0em;
    padding-bottom: 2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.non-form-field-course-schedule {
    margin-top: 0.6em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.fix-position {
    margin-top: 1.4em;
}

.border-invalid {
  border: 0.15em solid #f00;
}

.color-invalid {
    color: #f00;
}

.course-schedule-button {
    line-height: 3.55em;
}

.validation-text {
    font-size: 75%;
    margin-top: 0.2em;
    margin-left: 4%;
}

.aligner {
    margin-left: 0.42em;
    margin-right: 0.42em;
}

mat-form-field {
    padding: 0.35em;
}

.small-width {
    width: 3em;
}

.large-width {
    width: 8em;
}

mat-card-actions {
    margin-left: 0.4em;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 1em;
}

.radio-container {
    padding-left: 0.5em;
}