<div class="container">
  <h1
    fxLayoutAlign="center" 
    mat-dialog-title
    >Warning !</h1>
  <div mat-dialog-content fxLayoutAlign="center" fxLayout="column">
    <p>{{ data.content }}, {{ data.title }} !</p>
    <p *ngIf="reason === 'delete'">Are you sure to Delete ?</p>
    <p *ngIf="reason === 'add'">Are you sure to apply ?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No</button>
    <!-- <button mat-button [mat-dialog-close]="data.content" cdkFocusInitial>Yes</button> -->
    <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
  </div>
</div>