<section
    [ngClass]="'container'"
    [ngClass.lt-sm]="'min-container'" 
    fxLayout 
    fxLayoutAlign="center">
    <form 
        fxLayout="row" 
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
        <mat-card fxFlex.xs="19em" fxFlex="23.3em">
            <mat-card-title fxLayoutAlign="center">
                Login
            </mat-card-title>
            <mat-card-content fxLayout="column"
            fxLayoutAlign="center">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input 
                        type="username"
                        matInput 
                        placeholder="Username"
                        formControlName="username">
                    <div matSuffix>
                        <mat-icon>person</mat-icon>
                    </div>
                    <mat-hint>Please enter a valid username.</mat-hint>
                    <mat-error *ngIf="f.username.errors?.required">Missing username.</mat-error>
                    <mat-error *ngIf="f.username.errors?.maxlength">Username maximum length is 25 characters.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input 
                        type="password" 
                        matInput [type]="hide ? 'password' : 'text'"
                        placeholder="Password"
                        formControlName="password">
                        <!--<mat-error *ngIf="f.password.errors?.minlength">Password has to be at least 10 characters long.</mat-error>
                        <mat-error *ngIf="f.password.errors?.maxlength">Password has to be the most 18 characters long.</mat-error>-->
                        <span fxLayout="row" matSuffix>
                            <button type="button" mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>                   
                            <mat-icon style="margin-top:'5px'">lock</mat-icon>
                        </span>
                    <mat-hint>Please enter your password.</mat-hint>
                    <mat-error *ngIf="f.password.errors?.required">Missing password.</mat-error>
                </mat-form-field>
                <div fxLayoutAlign="center">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div
                    *ngIf="!isLoading"
                    class="form-actions"
                    fxLayout="column"
                    fxLayoutAlign="center">
                        <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
                        <span class="form-action-hint">
                            <mat-hint style="color:red">
                                <a (click)="onRegister()">Teacher without account? Sign up</a>
                            </mat-hint>
                        </span>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</section>