<section class="login" fxLayout fxLayoutAlign="center">
    <form 
        fxLayout="column" 
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
        <mat-card fxFlex.xs="100%" fxFlex="326px">
            <mat-card-title fxLayoutAlign="center">
                Login
            </mat-card-title>
            <mat-card-content fxLayout="column" 
            fxLayoutAlign="center center">
                <mat-form-field appearance="outline">
                    <input 
                        type="username"
                        matInput 
                        placeholder="Username"
                        formControlName="username">
                    <div matSuffix>
                        <mat-icon>person</mat-icon>
                    </div>
                    <mat-hint>Please enter a valid username.</mat-hint>
                    <mat-error>Invalid or missing username.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input 
                        type="password" 
                        matInput [type]="hide ? 'password' : 'text'"
                        placeholder="Password"
                        formControlName="password">
                        <span fxLayout="row" matSuffix>
                            <button mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>                   
                            <mat-icon style="margin-top:'5px'">lock</mat-icon>
                        </span>
                    <mat-hint>Please enter your password.</mat-hint>
                    <mat-error>Missing password.</mat-error>
                </mat-form-field>
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
            </mat-card-content>
            <mat-card-actions>
                <div
                    *ngIf="!isLoading"
                    class="form-actions"
                    fxLayout="column"
                    fxLayoutAlign="center">
                        <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
                        <span class="form-action-hint">
                            <mat-hint style="color:red">
                                <a (click)="onRegister()">Don't you have an account? Sign up</a>
                            </mat-hint>
                        </span>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</section>