<section 
    [ngClass]="'container'"
    [ngClass.lt-md]="'min-container'"
    fxLayout>
    <form 
        [formGroup]="courseForm"
        (ngSubmit)="onSubmit()">
        <mat-card
            fxFlex.xs="19em"
            fxFlex="22em">
            <mat-card-title fxLayoutAlign="center">
                <h1 *ngIf="isAddMode">Add Course</h1>
                <h1 *ngIf="!isAddMode">Edit Course</h1>
            </mat-card-title>
            <mat-card-content fxLayout="column" 
            fxLayoutAlign="center">

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <textarea 
                        type="text"
                        matInput 
                        placeholder="Name"
                        formControlName="name">
                    </textarea>
                    <div matSuffix>
                        <mat-icon>class</mat-icon>
                    </div>
                    <mat-hint>Please enter a valid name.</mat-hint>
                    <mat-error>Invalid or missing name.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Semester</mat-label>
                    <input 
                        type="text"
                        matInput 
                        placeholder="Semester"
                        formControlName="semester">
                    <mat-hint>Please enter a valid semester.</mat-hint>
                    <mat-error>Invalid or missing semester.</mat-error>
                </mat-form-field>
                <mat-form-field
                    *ngIf="isAddMode && allDepartments"
                    appearance="outline"
                    [hideRequiredMarker]="hideRequiredControl.value"
                    [floatLabel]="floatLabelControl.value">
                    <mat-select
                        [(value)]="selectedDepartmentId"
                        panelClass="mat-select-panel"
                        formControlName="departmentId">
                        <mat-option
                            [value]="0">-- None --</mat-option>
                        <mat-option 
                            *ngFor="let department of departments"
                            [value]="department.id">
                            <p>
                                {{ department.name }}
                            </p>
                        </mat-option>
                    </mat-select>
                    <mat-label><mat-icon>domain</mat-icon> <b> Department</b></mat-label>
                    <mat-hint>Choose Department</mat-hint>
                    <mat-error>Department is required.</mat-error>
                </mat-form-field>
                <div fxLayoutAlign="center">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div
                    *ngIf="!isLoading"
                    class="form-actions"
                    fxLayout="row"
                    fxLayoutAlign="start">
                        <button 
                            type="submit" 
                            mat-raised-button color="primary" 
                            [disabled]="courseForm.invalid || isLoading">
                            {{ isAddMode ? 'Save' : 'Update' }}
                        </button>
                        <button 
                            type="button" 
                            mat-button color="primary" 
                            (click)="onCancel()">
                            Cancel
                        </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</section>