<div 
    [ngClass]="'container'"
    [ngClass.lt-sm]="'min-container'"
    fxFlex="40em"
    fxFlex.lt-sm="calc(20em)"
>
    <a routerLink="add" 
       mat-raised-button
       color="primary">Add Course</a>

    <div class="table">
        <div fxLayoutAlign="center">
            <mat-form-field fxFlex="40%">
                <input matInput placeholder="Search courses" #input>
            </mat-form-field>
        </div>


        <mat-table class="lessons-table mat-elevation-z8"
            [dataSource]="dataSource" matSort matSortActive="id"
            matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header (click)="currentColumnDef='id'">ID</mat-header-cell>
                <mat-cell *matCellDef="let course">{{ course.id | number }}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header (click)="currentColumnDef='name'">Name</mat-header-cell>
                <mat-cell *matCellDef="let course">{{ course.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="semester">
                <mat-header-cell *matHeaderCellDef mat-sort-header (click)="currentColumnDef='semester'">Semester</mat-header-cell>
                <mat-cell *matCellDef="let course">{{ course.semester }}</mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
                *matRowDef="let row; columns: displayedColumns;"
                routerLink="detail/{{row.id}}"
                routerLinkActive="active"
                class="table-row-style"
                matRipple>
            </mat-row>
        </mat-table>
    
        <mat-paginator
            [length]="totalItems"
            [pageSize]="3" 
            [pageSizeOptions]="[3, 5]"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>