<div 
    [ngClass]="'container'"
    [ngClass.lt-sm]="'min-container'"
    fxFlex="40em"
    fxFlex.lt-sm="calc(20em)"
>
    <div class="selectorContainer">
        <form fxLayout="column"
        [formGroup]="selectDepartmentForm">
            <mat-form-field
                appearance="outline"
                [hideRequiredMarker]="hideRequiredControl.value"
                [floatLabel]="floatLabelControl.value">
                <mat-select
                    [(value)]="selectedDepartmentId"
                    panelClass="mat-select-panel"
                    formControlName="departmentId">
                    <mat-option
                        [value]="0"
                        (click)="onSubmit()">-- All Departments --</mat-option>
                    <mat-option 
                        *ngFor="let department of departments"
                        [value]="department.id"
                        (click)="onSubmit()">
                        <p>
                            {{ department.name }}
                        </p>
                    </mat-option>
                </mat-select>
                <mat-label><mat-icon>domain</mat-icon> <b> Department</b></mat-label>
                <mat-hint>Choose Department</mat-hint>
            </mat-form-field>
        </form>
    </div>

    <a routerLink="add" 
       mat-raised-button
       color="primary">Add Course</a>

    <div class="table">
        <div fxLayoutAlign="center">
            <mat-form-field fxFlex="45%">
                <div fxLayout="row">
                    <input
                        matInput 
                        placeholder="Search courses" 
                        [(ngModel)]="filterText" #input>
                    <mat-icon 
                        matSuffix 
                        inline="true">search</mat-icon>
                    <button 
                        mat-button 
                        *ngIf="input.value"
                        matSuffix 
                        mat-icon-button (click)="refreshTable()">
                        <mat-icon inline="true">close</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </div>


        <mat-table class="lessons-table mat-elevation-z8"
            [dataSource]="dataSource" matSort matSortActive="id"
            matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                <mat-cell *matCellDef="let course">{{ course.id | number }}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let course">{{ course.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="semester">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Semester</mat-header-cell>
                <mat-cell *matCellDef="let course">{{ course.semester }}</mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
                *matRowDef="let row; columns: displayedColumns;"
                routerLink="detail/{{row.id}}"
                routerLinkActive="active"
                class="table-row-style"
                matRipple>
            </mat-row>
        </mat-table>
    
        <mat-paginator
            [length]="totalItems"
            [pageSize]="3" 
            [pageSizeOptions]="[3, 5]"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>