<div 
    [ngClass]="'container'"
    [ngClass.lt-sm]="'min-container'"
    fxFlex="40em"
    fxFlex.gt-md="40em"
    fxFlex.md="40em"
    fxFlex.lt-md="40em"
    fxFlex.lt-sm="20em"
>
    <div class="selectorContainer" fxLayout="column">
        <h1>Lectures</h1>
        <mat-divider></mat-divider>
        <br>
        <br>
        <!-- Search Lectures Form -->
        <form fxLayout="column"
            [formGroup]="searchLecturesForm" fxLayoutGap="0.5em">
            <mat-form-field *ngIf="showAdminFeatures"
                appearance="outline">
                <mat-select
                    [(value)]="selectedDepartmentId"
                    panelClass="mat-select-panel"
                    formControlName="departmentId">
                    <mat-option
                        [value]="''"
                        (click)="checkForCourseScheduleValue()">-- None --</mat-option>
                    <mat-option 
                        *ngFor="let department of departments"
                        [value]="department.id.toString()"
                        (click)="checkForCourseScheduleValue()">
                        <p>
                            {{ department.name }}
                        </p>
                    </mat-option>
                </mat-select>
                <mat-label><mat-icon>domain</mat-icon> <b> Department</b></mat-label>
                <mat-hint>Choose Department</mat-hint>
            </mat-form-field>
            <div *ngIf="selectedDepartmentId">
                <div fxLayout fxLayoutGap="0.5em">
                    <button fxFlex
                        class="course-schedule-text"
                        type="button"
                        mat-stroked-button
                        (click)="selectCourseSchedule()">
                        <div>{{'Selected: '}}{{ selectedCourseSchedule ? selectedCourseSchedule.course.name : ' -- None -- ' }}</div>
                    </button>
                    <div *ngIf="selectedCourseSchedule" class="aligner">
                        <button class="mat-icon-button-search-form"
                            type="button"
                            mat-icon-button
                            (click)="clearCourseScheduleValue()">
                            <mat-icon inline="true">close</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-hint class="course-schedule-hint-text">Choose Course Schedule</mat-hint>
            </div>

            <mat-radio-group *ngIf="selectedCourseSchedule"
                formControlName="isLectureTypeNameTheory">
                <div class="radio-container" fxLayoutGap="1em">
                    <mat-radio-button [value]=true (click)="onLectureTypeSelect(true)">Theories</mat-radio-button>
                    <mat-radio-button [value]=false (click)="onLectureTypeSelect(false)">Labs</mat-radio-button>
                </div>
            </mat-radio-group>
        </form>
    </div>

    <span [matTooltip]="!selectedDepartmentId ? 'Select a Specific Department' : 'Select a Specific Course Schedule'"
        matTooltipPosition="after"
        [matTooltipDisabled]="selectedDepartmentId !=='' && selectedCourseScheduleId !==''">
        <button
            *ngIf="departments || showTeacherFeatures"
            type="button"
            mat-raised-button
            color="primary"
            routerLink="add"
            [disabled]="selectedDepartmentId === '' || selectedCourseScheduleId ===''">Add Lecture</button>
    </span>

    <div class="table-container">
        <div fxLayoutAlign="center">
            <mat-form-field fxFlex="60%">
                <div fxLayout="row">
                    <input
                        matInput 
                        placeholder="Search lectures" #input>
                    <mat-icon 
                        matSuffix 
                        inline="true">search</mat-icon>
                    <button class="mat-icon-button-table" 
                        mat-button 
                        *ngIf="input.value"
                        matSuffix 
                        mat-icon-button (click)="clearInput()">
                        <mat-icon inline="true">close</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </div>

        <div class="mat-elevation-z8">
            <mat-table
                [dataSource]="dataSource" matSort matSortActive="name"
                matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let lecture">{{ lecture.id | number }}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name Id</mat-header-cell>
                    <mat-cell *matCellDef="let lecture">{{ lecture.nameIdentifier }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                    <mat-cell *matCellDef="let lecture">{{ lecture.title }}</mat-cell>
                </ng-container>
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedColumns;"
                    routerLink="detail/{{row.id}}"
                    routerLinkActive="active"
                    class="table-row-style"
                    matRipple>
                </mat-row>
            </mat-table>
        
            <mat-paginator
                [length]="totalItems"
                [pageSize]="3" 
                [pageSizeOptions]="[3, 5]"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>