<div 
    [ngClass]="'container'"
    [ngClass.lt-sm]="'min-container'"
    fxFlex.lt-sm="calc(20em)"    
>
    <a routerLink="add" 
       mat-raised-button
       color="primary">Add School</a>

    <div class="table">
        <div fxLayoutAlign="center">
            <mat-form-field fxFlex="40%">
                <input matInput 
                    type="text" 
                    (keyup)="doFilter($any($event.target).value)" 
                    placeholder="Filter">
            </mat-form-field>
        </div>


        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.id | number }}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="location">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.location }}</mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
                *matRowDef="let row; columns: displayedColumns;"
                routerLink="detail/{{row.id}}"
                routerLinkActive="active"
                class="table-row-style"
                matRipple>
            </mat-row>
        </mat-table>
    
        <mat-paginator [pageSize]="3" [pageSizeOptions]="[3, 5]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>
