<div
    [ngClass]="'container'"
    [ngClass.lt-sm]="'min-container'"
    fxFlex="40em"
    fxFlex.gt-md="40em"
    fxFlex.md="40em"
    fxFlex.lt-md="40em"
    fxFlex.lt-sm="20em"
>
    <div class="selectorContainer" fxLayout="column">
        <h1>Presences</h1>
        <mat-divider></mat-divider>
        <br>
        <br>
        <!-- Search Presences Form -->
        <form fxLayout="column"
            [formGroup]="searchPresencesForm" fxLayoutGap="0.5em">
            <mat-form-field
                appearance="outline">
                <mat-select
                    [(value)]="selectedDepartmentId"
                    panelClass="mat-select-panel"
                    formControlName="departmentId">
                    <mat-option
                        [value]="''"
                        (click)="checkForCourseScheduleValue()">-- None --</mat-option>
                    <mat-option 
                        *ngFor="let department of departments"
                        [value]="department.id.toString()"
                        (click)="checkForCourseScheduleValue()">
                        <p>
                            {{ department.name }}
                        </p>
                    </mat-option>
                </mat-select>
                <mat-label><mat-icon>domain</mat-icon> <b> Department</b></mat-label>
                <mat-hint>Choose Department</mat-hint>
            </mat-form-field>
            <div *ngIf="selectedDepartmentId">
                <div fxLayout fxLayoutGap="0.5em">
                    <button fxFlex
                        class="collapse-button-text"
                        type="button"
                        mat-stroked-button
                        (click)="selectCourseSchedule()">
                        <div>{{'Selected: '}}{{ selectedCourseSchedule ? selectedCourseSchedule.course.name : ' -- None -- ' }}</div>
                    </button>
                    <div *ngIf="selectedCourseSchedule" class="aligner">
                        <button class="mat-icon-button-search-form"
                            type="button"
                            mat-icon-button
                            (click)="clearCourseScheduleValue()">
                            <mat-icon inline="true">close</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-hint class="course-schedule-hint-text">Choose Course Schedule</mat-hint>
            </div>

            <mat-radio-group *ngIf="selectedCourseSchedule"
                formControlName="isLectureTypeNameTheory">
                <div class="radio-container" fxLayoutGap="1em">
                    <mat-radio-button [value]=true (click)="onLectureTypeSelect(true)">Theories</mat-radio-button>
                    <mat-radio-button [value]=false (click)="onLectureTypeSelect(false)">Labs</mat-radio-button>
                </div>
            </mat-radio-group>

            <div fxLayout="row" fxLayoutGap="1em">
                <div *ngIf="selectedCourseScheduleId && selectedLectureTypeName">
                    <div fxLayout fxLayoutGap="0.5em">
                        <button fxFlex
                            class="collapse-button-text"
                            type="button"
                            mat-stroked-button
                            (click)="selectLecture()">
                            <div>{{'Selected: '}}{{ selectedLecture ? selectedLecture.nameIdentifier : ' -- None -- ' }}</div>
                        </button>
                        <div *ngIf="selectedLecture" class="aligner">
                            <button class="mat-icon-button-search-form"
                                type="button"
                                mat-icon-button
                                (click)="clearLectureAndResfresh()">
                                <mat-icon inline="true">close</mat-icon>
                            </button>
                        </div>
                    </div>
                    <mat-hint class="course-schedule-hint-text">Choose Lecture</mat-hint>
                </div>
                <div *ngIf="selectedLectureId">
                    <div fxLayout fxLayoutGap="0.5em">
                        <button fxFlex
                            class="collapse-button-text"
                            type="button"
                            mat-stroked-button
                            (click)="selectClassSession()">
                            <div>{{'Selected: '}}{{ selectedClassSession ? selectedClassSession.nameIdentifier : ' -- None -- ' }}</div>
                        </button>
                        <div *ngIf="selectedClassSession" class="aligner">
                            <button class="mat-icon-button-search-form"
                                type="button"
                                mat-icon-button
                                (click)="clearClassSessionAndRefresh()">
                                <mat-icon inline="true">close</mat-icon>
                            </button>
                        </div>
                    </div>
                    <mat-hint class="course-schedule-hint-text">Choose Class Session</mat-hint>
                </div>
            </div>
        </form>
    </div>

    <span [matTooltip]="'Select a Specific '+ (!selectedDepartmentId ? 'Department' :
        !selectedCourseScheduleId ? 'Course Schedule' :
        !selectedLectureId ? 'Lecture' : 'Class Session')"
        matTooltipPosition="after"
        [matTooltipDisabled]="selectedDepartmentId !=='' && selectedCourseScheduleId !=='' && selectedLectureId !=='' && selectedClassSessionId !==''">
        <button
            *ngIf="departments"
            type="button"
            mat-raised-button
            color="primary"
            routerLink="add"
            [disabled]="selectedDepartmentId === '' || selectedCourseScheduleId ==='' || selectedLectureId ==='' || selectedClassSessionId ===''">Add Presence</button>
    </span>

    <div class="table-container">
        <div fxLayoutAlign="center">
            <mat-form-field fxFlex="60%">
                <div fxLayout="row">
                    <input
                        matInput 
                        placeholder="Search presences" #input>
                    <mat-icon 
                        matSuffix 
                        inline="true">search</mat-icon>
                    <button class="mat-icon-button-table" 
                        mat-button 
                        *ngIf="input.value"
                        matSuffix 
                        mat-icon-button (click)="clearInput()">
                        <mat-icon inline="true">close</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </div>

        <div class="mat-elevation-z8">
            <mat-table
                [dataSource]="dataSource" matSort matSortActive="nameIdentifier"
                matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let presence">{{ presence.id | number }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="collapse-text">Username</mat-header-cell>
                    <mat-cell *matCellDef="let presence" class="collapse-text">{{ presence.student.username }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="firstname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="collapse-text">First Name</mat-header-cell>
                    <mat-cell *matCellDef="let presence" class="collapse-text">{{ presence.student.firstname }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="lastname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="collapse-text">Last Name</mat-header-cell>
                    <mat-cell *matCellDef="let presence" class="collapse-text">{{ presence.student.lastname }}</mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="collapse-text">Status</mat-header-cell>
                    <mat-cell *matCellDef="let presence" class="collapse-text">{{ presence.status ? 'Present' : presence.status === false ? 'Absent' : 'Pending' }}</mat-cell>
                </ng-container>

                <!--
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="collapse-text">Status</mat-header-cell>
                    <mat-cell *matCellDef="let classSession" class="collapse-text">{{ classSession.status ? 'Active' : 'Inactive' }}</mat-cell>
                </ng-container> -->

                <!-- Checkbox Column 
                <ng-container matColumnDef="subscription">
                    <mat-header-cell *matHeaderCellDef class="collapse-text">Subscription</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox matTooltip="Group is closed"
                            matTooltipPosition="after"
                            [matTooltipDisabled]="row.status"
                            [disabled]="selectedRow && !simpleCheck(row) || !row.status"
                            (click)="$event.stopPropagation()" (change)="selectHandler(row)"
                            [checked]="selection.isSelected(row) || check(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container> -->

                <div *ngIf="showStudentFeatures">
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </div>
        
                <div *ngIf="!showStudentFeatures">
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                        routerLink="detail/{{row.id}}"
                        routerLinkActive="active"
                        class="table-row-style"
                        matRipple>
                    </mat-row>
                </div>
            </mat-table>
        
            <mat-paginator
                [length]="totalItems"
                [pageSize]="3" 
                [pageSizeOptions]="[3, 5]"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>