<section 
    [ngClass.gt-md]="'max-container'"
    [ngClass.md]="'max-container'"
    [ngClass.lt-md]="'max-container'"
    [ngClass.sm]="'min-container'"
    [ngClass.lt-sm]="'min-container'"
    fxLayout>
    <form 
        *ngIf="currentUser || isAddMode"
        fxLayout="row" 
        [formGroup]="userForm"
        (ngSubmit)="onSubmit()">
        <mat-card
            class="mat-elevation-z8"
            fxFlex.xs="19em"
            fxFlex.sm="40em" 
            fxFlex.gt-sm="40em"><!-- fxFlex="23.3em" -->
            <mat-card-title fxLayoutAlign="center">
                <h1 *ngIf="isAddMode">Add User</h1>
                <h1 *ngIf="!isAddMode && !isStudent">Edit User</h1>
                <h1 *ngIf="!isAddMode && isStudent">Edit Student</h1>
            </mat-card-title>
            <mat-card-content fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap"
            fxLayoutAlign="center">

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>First name</mat-label>
                    <input 
                        type="firstname" 
                        matInput 
                        placeholder="Firstname"
                        formControlName="firstname">
                    <div matSuffix>
                        <mat-icon>code</mat-icon>
                    </div>
                    <mat-hint>Please enter first name.</mat-hint>
                    <mat-error *ngIf="f.firstname.errors?.required">Missing first name.</mat-error>
                    <mat-error *ngIf="f.firstname.errors?.maxlength">First name maximum length is 25 characters.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Last name</mat-label>
                    <input 
                        type="lastname" 
                        matInput 
                        placeholder="Lastname"
                        formControlName="lastname">
                    <div matSuffix>
                        <mat-icon>code</mat-icon>
                    </div>
                    <mat-hint>Please enter lastname.</mat-hint>
                    <mat-error *ngIf="f.lastname.errors?.required">Missing last name.</mat-error>
                    <mat-error *ngIf="f.lastname.errors?.maxlength">Last name maximum length is 25 characters.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Username</mat-label>
                    <input 
                        type="username" 
                        matInput 
                        placeholder="Username"
                        formControlName="username">
                    <div matSuffix>
                        <mat-icon>person</mat-icon>
                    </div>
                    <mat-hint>Please enter username.</mat-hint>
                    <mat-error *ngIf="f.username.errors?.required">Missing username.</mat-error>
                    <mat-error *ngIf="f.username.errors?.maxlength">Username maximum length is 25 characters.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Email</mat-label>
                    <input 
                        type="email"
                        matInput 
                        placeholder="Email"
                        formControlName="email">
                    <div matSuffix>
                        <mat-icon>email</mat-icon>
                    </div>
                    <mat-hint>Please enter email.</mat-hint>
                    <mat-error *ngIf="f.email.errors?.required">Missing email.</mat-error>
                    <mat-error *ngIf="f.email.errors?.maxlength">Email maximum length is 20 characters.</mat-error>
                    <mat-error *ngIf="f.email.errors?.email">Invalid email.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Password</mat-label>
                    <input 
                        type="password" 
                        matInput [type]="hide ? 'password' : 'text'"
                        placeholder="Password"
                        formControlName="password">
                        <mat-hint align="end" >{{ f.password.value?.length }} / {{ f.password.value?.length > 10 ? '18' : 10 }}</mat-hint>
                        <mat-error *ngIf="f.password.errors?.minlength">Password has to be at least 10 characters long.</mat-error>
                        <mat-error *ngIf="f.password.errors?.maxlength">Password has to be the most 18 characters long.</mat-error>
                    <span fxLayout="row" matSuffix>
                        <button type="button" mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-icon style="margin-top:'5px'">lock</mat-icon>
                    </span>
                    <mat-hint>Please enter password.</mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex
                    appearance="outline" *ngIf="!isStudent || isAddMode">
                    <mat-label>Roles</mat-label>
                    <mat-select formControlName="selectedRoleNames" multiple>
                        <mat-select-trigger>
                            <span *ngIf="selectedRoleNames.value">
                                <container-element [ngSwitch]="selectedRoleNames.value[0]">
                                    <span *ngSwitchCase="'ROLE_ADMIN'">Admin</span>
                                    <span *ngSwitchCase="'ROLE_TEACHER'">Teacher</span>
                                    <span *ngSwitchCase="'ROLE_STUDENT'">Student</span>
                                    <span *ngSwitchCase="'ROLE_SECRETARY'">Secretary</span>
                                </container-element>
                            </span>

                            <span *ngIf="selectedRoleNames.value?.length > 1" class="example-additional-selection">
                            (+{{selectedRoleNames.value.length - 1}} {{selectedRoleNames.value?.length === 2 ? 'other role' : 'other roles'}})
                            </span>
                        </mat-select-trigger>
                        <ng-container *ngIf="isAddMode">
                            <mat-option *ngFor="let roleName of addModeRoleNames" [value]="roleName">
                                <container-element [ngSwitch]="roleName">
                                    <span *ngSwitchCase="'ROLE_TEACHER'">Teacher</span>
                                    <span *ngSwitchCase="'ROLE_STUDENT'">Student</span>
                                    <span *ngSwitchCase="'ROLE_SECRETARY'">Secretary</span>
                                </container-element>
                            </mat-option>
                        </ng-container>
                        <ng-container *ngIf="!isAddMode">
                            <mat-option *ngFor="let roleName of editModeRoleNames" [value]="roleName">
                                <container-element [ngSwitch]="roleName">
                                    <span *ngSwitchCase="'ROLE_TEACHER'">Teacher</span>
                                    <span *ngSwitchCase="'ROLE_SECRETARY'">Secretary</span>
                                </container-element>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-hint>Choose Role(s)</mat-hint>
                    <mat-error *ngIf="f.selectedRoleNames.errors?.required">Role(s) is/are required.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="isStudent" fxFlex>
                    <mat-label>AM</mat-label>
                    <input 
                        type="am" 
                        matInput 
                        placeholder="AM"
                        formControlName="am">
                    <div matSuffix>
                        <mat-icon>code</mat-icon>
                    </div>
                    <mat-hint>Please enter AM.</mat-hint>
                    <mat-error *ngIf="f.am.errors?.required">Missing AM.</mat-error>
                    <mat-error *ngIf="f.am.errors?.pattern">AM must contain only integer numbers</mat-error>
                    <mat-error *ngIf="f.am.errors?.maxlength">AM maximum length is 8 characters.</mat-error>
                    <mat-error *ngIf="f.am.errors?.minlength">AM minimum length is 5 characters.</mat-error>
                </mat-form-field>

                <!--*ngIf="isAddMode && allDepartments"-->
                <mat-form-field
                    fxFlex
                    appearance="outline" *ngIf="!isStudent || isAddMode">
                    <mat-select
                        [(value)]="selectedDepartmentId"
                        panelClass="mat-select-panel"
                        formControlName="departmentId">
                        <mat-option
                            [value]="''">-- None --</mat-option>
                        <mat-option 
                            *ngFor="let department of departments"
                            [value]="department.id.toString()">
                            <p>
                                {{ department.name }}
                            </p>
                        </mat-option>
                    </mat-select>
                    <mat-label><mat-icon>domain</mat-icon> <b> Department</b></mat-label>
                    <mat-hint>Choose Department</mat-hint>
                    <mat-error *ngIf="f.departmentId.errors?.required">Department is required.</mat-error>
                </mat-form-field>

                <mat-radio-group
                    fxFlexFill
                    formControlName="status">
                    <div class="radio-container">
                        <mat-radio-button [value]=true>Active</mat-radio-button>
                        <mat-radio-button [value]=false>Inactive</mat-radio-button>
                    </div>
                </mat-radio-group>

                <div fxLayoutAlign="center">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div
                    *ngIf="!isLoading"
                    fxLayout="row"
                    fxLayoutAlign="start">
                        <button 
                            type="submit" 
                            mat-raised-button color="primary" 
                            [disabled]="userForm.invalid || isLoading">
                            {{ isAddMode ? 'Save' : 'Update' }}
                        </button>
                        <button 
                            type="button" 
                            mat-button color="primary" 
                            (click)="onCancel()">
                            Cancel
                        </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</section>