<section *ngIf="lectureTable"
    [ngClass]="'container'"
    [ngClass.lt-md]="'min-container'"
    fxLayout>
    <div *ngIf="lecture">
        <mat-card
            class="mat-elevation-z8"
            fxFlex.xs="19em"
            fxFlex="22em">
            <mat-card-title fxLayoutAlign="center">
                Lecture Details
            </mat-card-title>
            <br>
            <mat-card-content fxLayout="column" 
            fxLayoutAlign="center"
            fxLayoutGap="1em">
                <div>
                    <mat-label><strong>Name:</strong></mat-label>
                    {{ lecture?.courseSchedule?.course?.name + ', '+lecture?.nameIdentifier }}
                </div>
                <div>
                    <label><strong>Title:</strong></label>
                    {{ lecture?.title }}
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div>
                    <button
                        mat-raised-button color="primary"
                        (click)="editLecture()">
                        Edit
                    </button>
              
                    <button 
                        mat-raised-button color="warn"
                        (click)="deleteLecture(lecture.id)">
                        Delete
                    </button>
                </div>
                <hr>
                <div fxLayoutAlign="end">
                    <button 
                        mat-button color="primary"
                        (click)="onCancel()">
                        Cancel
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</section>