<mat-toolbar color="primary">
    <!--fxHide.gt-xs-->
    <div>
        <button 
            mat-icon-button 
            onclick="this.blur()"
            (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div fxLayout fxLayoutGap="3em">
        <div><a routerLink="/">HUA Pms</a></div>

        <mat-label *ngIf="isAuth && showAdminFeatures" fxHide.xs>ADMIN PANEL</mat-label>
        <mat-label *ngIf="isAuth && showTeacherFeatures && !showAdminFeatures" fxHide.xs>TEACHER PANEL</mat-label>
        <mat-label *ngIf="isAuth && showSecretaryFeatures" fxHide.xs>SECRETARY PANEL</mat-label>

    </div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="1em" class="navigation-items">
            <li *ngIf="!isAuth">
                <a routerLink="/signup">Signup</a>
            </li>
            <li *ngIf="!isAuth">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="isAuth">
                <div class="icon-text" fxLayoutGap="0.25em">
                    <mat-icon>person</mat-icon>
                    <a style="cursor:pointer" 
                        routerLink="/profile">
                        {{ user.firstname + ' ' + user.lastname }}
                    </a>
                </div>
            </li>
            <li *ngIf="isAuth">
                <a style="cursor:pointer" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>