<mat-toolbar color="primary" fxLayoutGap="0.5em">
    <!--fxHide.gt-xs-->
    <div>
        <button 
            mat-icon-button 
            onclick="this.blur()"
            (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div fxLayout fxLayoutGap="3em">
        <div><a routerLink="/">HUA Pms</a></div>

        <mat-label *ngIf="isAuth && showAdminFeatures" fxHide.lt-md>ADMIN PANEL</mat-label>
        <mat-label *ngIf="isAuth && showTeacherFeatures && !showAdminFeatures" fxHide.lt-md>TEACHER PANEL</mat-label>
        <mat-label *ngIf="isAuth && showSecretaryFeatures" fxHide.lt-md>SECRETARY PANEL</mat-label>

    </div>

    <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="1em" class="navigation-items">
            <li *ngIf="isAuth && endTime !== ''" fxLayoutGap="0.5em">
                <a>{{ endTime }}</a>
                <button class="mat-icon-button-refresh" 
                    mat-mini-fab
                    mat-icon-button
                    matSuffix 
                    color="primary" (click)="onTokenRefresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </li>
            <li *ngIf="!isAuth" fxHide.lt-md>
                <a routerLink="/signup">Signup</a>
            </li>
            <li *ngIf="!isAuth" fxHide.lt-md>
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="isAuth" fxHide.lt-md>
                <div class="icon-text" fxLayoutGap="0.25em">
                    <mat-icon>person</mat-icon>
                    <a style="cursor:pointer" 
                        routerLink="/profile">
                        {{ user.firstname + ' ' + user.lastname }}
                    </a>
                </div>
            </li>
            <li *ngIf="isAuth" fxHide.lt-md>
                <a style="cursor:pointer" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>