.signup {
    padding: 30px;
}

mat-form-field {
    width: 300px;
    padding: 5px;
}

.form-actions {
    margin-left: 12px;
    margin-right: 12px;
}

.form-action-hint {
    cursor: pointer;
    margin-top: 10px;
}