<section *ngIf="currentClassGroup"
    [ngClass]="'container'"
    [ngClass.lt-md]="'min-container'"
    fxLayout>
    <form 
        fxLayout
        [formGroup]="groupStudentForm"
        (ngSubmit)="onSubmit()">
        <mat-card
            class="mat-elevation-z8"
            fxFlex.xs="19em"
            fxFlex.sm="25em" 
            fxFlex.gt-sm="25em">
            <mat-card-title fxLayoutAlign="center">
                <h1>Add Student to Group</h1>
            </mat-card-title>
            <mat-card-content fxLayout="column" fxLayoutGap="0.5em"
            fxLayoutAlign="center">

            <div fxLayout="column">
                <div fxLayout fxLayoutGap="0.5em">
                    <!-- Student -->
                    <button fxFlex
                    [class.border-invalid]="gsf.studentId.invalid && gsf.studentId.touched"
                        class="collapse-button-text"
                        type="button"
                        mat-stroked-button
                        (click)="selectStudent()">
                        <div>{{'Selected: '}}{{ currentStudent ? currentStudent.username : ' -- None -- ' }}</div>
                    </button>
                    <div *ngIf="currentStudent" class="aligner">
                        <button class="mat-icon-button-search-form"
                            type="button"
                            mat-icon-button
                            (click)="clearFormValues()">
                            <mat-icon inline="true">close</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-hint *ngIf="!(gsf.studentId.errors?.required && gsf.studentId.touched)" class="course-schedule-hint-text">Choose Student</mat-hint>
                <mat-error  class="course-schedule-hint-text" *ngIf="gsf.studentId.errors?.required && gsf.studentId.touched">Missing Student</mat-error>
            </div>

                <div fxLayoutAlign="center">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div
                    *ngIf="!isLoading"
                    fxLayout="row"
                    fxLayoutAlign="start">
                        <button 
                            type="submit" 
                            mat-raised-button color="primary" 
                            [disabled]="groupStudentForm.invalid || isLoading">
                            Save
                        </button>
                        <button 
                            type="button" 
                            mat-button color="primary" 
                            (click)="onCancel()">
                            Cancel
                        </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</section>