<div class="welcome" 
    fxLayout.lt-md="column" 
    fxLayout.gt-md="row"
    fxLayoutAlign="center center"
    fxLayoutGap.gt-md="5em">
    <section>
        <h1>STUDENTS</h1>
        <p>State, excuse and check your presences !</p>
    </section>
    <section>
        <h1>TEACHERS</h1>
        <p>Manage your lectures, groups and classes sessions conveniently!</p>
    </section>
    <section>
        <h1>SECRETARIES</h1>
        <p>Evaluate the excuse applications comfortably!</p>
    </section>
    <section>
        <h1>ADMIN</h1>
        <p>Manage the whole Presence System smart, fast and easily!</p>
    </section>
</div>