<section 
    [ngClass]="'container'"
    [ngClass.lt-md]="'min-container'"
    fxLayout>
    <form 
        [formGroup]="activeCourseForm"
        (ngSubmit)="onSubmit()">
        <mat-card
            class="mat-elevation-z8"
            fxFlex.xs="19em"
            fxFlex.sm="40em" 
            fxFlex.gt-sm="40em">
            <mat-card-title fxLayoutAlign="center">
                <h1 *ngIf="isAddMode">Add Active Course</h1>
                <h1 *ngIf="!isAddMode">Edit Active Course</h1>
            </mat-card-title>
            <mat-card-content fxLayout="column" fxLayout.sm="row wrap" fxLayout.gt-sm="row wrap"
            fxLayoutAlign="center">

                <mat-form-field fxFlex
                    appearance="outline">
                    <mat-label>Max Theories</mat-label>
                    <input 
                        matInput 
                        type="number" 
                        placeholder="Max Theories" 
                        formControlName="maxTheoryLectures"
                        min="1"
                        max="12">
                    <span matSuffix>
                        <mat-icon>note_add</mat-icon>
                    </span>
                    <mat-hint>Set Max Theories.</mat-hint>
                    <mat-error *ngIf="f.maxTheoryLectures.errors?.max">Cannot set more than 12</mat-error>
                    <mat-error *ngIf="f.maxTheoryLectures.errors?.min">Cannot set less than 1</mat-error>
                    <mat-error *ngIf="f.maxTheoryLectures.errors?.required">Missing Theories</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex
                    appearance="outline">
                    <mat-label>Max Labs</mat-label>
                    <input 
                        matInput 
                        type="number" 
                        placeholder="Max Labs"
                        formControlName="maxLabLectures"
                        min="1"
                        max="12">
                    <span matSuffix>
                        <mat-icon>construction</mat-icon>
                    </span>
                    <mat-hint>Set Max Labs.</mat-hint>
                    <mat-error *ngIf="f.maxLabLectures.errors?.max">Cannot set more than 12</mat-error>
                    <mat-error *ngIf="f.maxLabLectures.errors?.min">Cannot set less than 1</mat-error>
                    <mat-error *ngIf="f.maxLabLectures.errors?.required">Missing Labs</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                    <mat-label> Select Academic Year</mat-label>
                    <mat-select 
                        formControlName="academicYear"
                        [(value)]="selectedAcademicYear">
                        <mat-option>None</mat-option>
                        <mat-option value="2020 - 2021">2020 - 2021</mat-option>
                        <mat-option value="2021 - 2022">2021 - 2022</mat-option>
                      </mat-select>
                    <div matSuffix>
                        <mat-icon>date_range</mat-icon>
                    </div>
                    <mat-hint>Select Academic Year.</mat-hint>
                    <mat-error *ngIf="f.academicYear.errors?.required">Missing Academic Year</mat-error>
                </mat-form-field>


                <div fxLayout="column" fxFlex
                    class="non-form-field-course">
                    <!-- Course -->
                    <button
                    [class.border-invalid]="f.courseId.invalid && f.courseId.touched"
                        [ngClass.gt-xs]="{'course-button': true}"
                        type="button"
                        mat-stroked-button color="primary"
                        (click)="selectCourse()">
                        Choose Course</button>
                        <mat-label *ngIf="currentCourse">Selected Course: {{ currentCourse.name }}</mat-label>
                        <mat-error class="validation-text" *ngIf="f.courseId.errors?.required && f.courseId.touched">Missing Course</mat-error>
                </div>

                <div fxLayout fxLayout.lt-sm="column" fxFlex
                    class="non-form-field-students" fxLayoutGap.lt-sm="0.5em">
                    <!-- Students -->
                    <div fxFlex class="aligner">
                        <mat-label
                        ><strong>Upload csv/excel of Students:</strong></mat-label>
                    </div>
                    <div fxFlex class="aligner">
                        <input
                        [ngClass]="{'color-invalid': f.students.invalid && f.students.touched}"
                        (focus)="onTouched()"
                        (click)="state=true"
                        (change)="selectStudentsFile($event)"
                        #fileInput type="file">

                        <div class="validation-text">
                            <mat-error *ngIf="f.students.errors?.requiredFileTypes"> Wrong file type: csv/excel required</mat-error>
                            <mat-error *ngIf="f.students.errors?.inappropriate && f.students.touched">Inappropriate file</mat-error>
                            <mat-error *ngIf="f.students.errors?.required && f.students.touched">Missing file</mat-error>
                        </div>
                    </div>
                </div>

                <div fxLayout="column" fxFlexFill
                    class="non-form-field-teacher">
                    <!-- Teachers -->
                    <button
                        [ngClass]="{'border-invalid': f.teachingStuff.invalid && f.teachingStuff.touched}"
                        type="button"
                        class="aligner"
                        mat-stroked-button color="primary"
                        (click)="selectTeachers()">
                        Choose Teacher(s)</button>
                        <mat-error class="aligner" class="validation-text" *ngIf="f.teachingStuff.errors?.required && f.teachingStuff.touched">Missing Teacher(s)</mat-error>
                    
                    <mat-accordion class="aligner"
                        *ngIf="currentTeachingStuff">
                        <mat-expansion-panel 
                            (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                Selected Teachers
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                            <hr>
                            <div fxLayout fxLayout.lt-sm="column">
                                <span
                                *ngFor="let teacher of currentTeachingStuff; let i = index">
                                    <span>
                                        <span>{{ teacher.firstname }} {{ teacher.lastname }}</span>
                                        <span *ngIf="i+1 > 0 && i+1 < currentTeachingStuff.length">{{delimeter}}</span>
                                    </span>
                                </span>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <mat-radio-group fxFlex
                    formControlName="status">
                    <div class="radio-container">
                        <mat-radio-button [value]=true>Active</mat-radio-button>
                        <mat-radio-button [value]=false>Inactive</mat-radio-button>
                    </div>
                </mat-radio-group>

                <div fxLayoutAlign="center">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div
                    *ngIf="!isLoading"
                    fxLayout="row"
                    fxLayoutAlign="start">
                        <button 
                            type="submit" 
                            mat-raised-button color="primary" 
                            [disabled]="activeCourseForm.invalid || isLoading">
                            {{ isAddMode ? 'Save' : 'Update' }}
                        </button>
                        <button 
                            type="button" 
                            mat-button color="primary" 
                            (click)="onCancel()">
                            Cancel
                        </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</section>