<section *ngIf="(tableLoaded && currentCourse) || (tableLoaded && isAddMode)"
    [ngClass]="'container'"
    [ngClass.lt-md]="'min-container'"
    fxLayout>
    <form 
        fxLayout
        [formGroup]="courseScheduleForm"
        (ngSubmit)="onSubmit()">
        <mat-card
            class="mat-elevation-z8"
            fxFlex.xs="19em"
            fxFlex.sm="40em" 
            fxFlex.gt-sm="40em">
            <mat-card-title fxLayoutAlign="center">
                <h1 *ngIf="isAddMode">Add Course Schedule</h1>
                <h1 *ngIf="!isAddMode">{{ currentCourse?.name }} Schedule</h1>
            </mat-card-title>
            <mat-card-content fxLayout.lt-sm="column" fxLayout="row wrap"
            fxLayoutAlign="center">

                <div fxLayout="row" fxLayout.lt-sm="column">
                    <!-- <div fxLayout="column" fxFlex
                        class="non-form-field-course" *ngIf="isAddMode">
                        
                        <button
                        [class.border-invalid]="f.course.invalid && f.course.touched"
                            [ngClass.gt-xs]="{'course-button': true}"
                            type="button"
                            mat-stroked-button color="primary"
                            (click)="selectCourse()">
                            Choose Course</button>
                            <mat-label *ngIf="currentCourse">Selected Course: {{ currentCourse.name }}</mat-label>
                            <mat-error class="validation-text" *ngIf="f.course.errors?.required && f.course.touched">Missing Course</mat-error>
                    </div> -->

                    <!-- dokimi gia antikatastasi tou course button -->
                    <div fxLayout="column" class="class-group-aligner" fxFlex *ngIf="isAddMode">
                        <div fxLayout fxLayoutGap="0.5em">
                            <!-- Student -->
                            <button fxFlex
                            [class.border-invalid]="f.course.invalid && f.course.touched"
                                class="collapse-button-text"
                                type="button"
                                mat-stroked-button
                                (click)="selectCourse()">
                                <div>{{'Selected: '}}{{ currentCourse ? currentCourse.name : ' -- None -- ' }}</div>
                            </button>
                            <div *ngIf="currentCourse" class="aligner">
                                <button class="mat-icon-button-search-form"
                                    type="button"
                                    mat-icon-button
                                    (click)="clearFormValues()">
                                    <mat-icon inline="true">close</mat-icon>
                                </button>
                            </div>
                        </div>
                        <mat-hint *ngIf="!(f.course.errors?.required && f.course.touched)" class="course-schedule-hint-text">Choose Course</mat-hint>
                        <mat-error  class="course-schedule-hint-text" *ngIf="f.course.errors?.required && f.course.touched">Missing Course</mat-error>
                    </div>

                    <div fxFlex [ngClass]="{ 'upload-students-edit-mode': !isAddMode }"
                        class="non-form-field-students" fxLayoutGap.lt-sm="0.5em">
                        <!-- Students -->
                        <div fxLayout="row wrap" fxLayout.lt-sm="column">
                            <div class="aligner" fxFlex>
                                <mat-label><strong>Upload csv/excel of Students:</strong></mat-label>
                            </div>
                            <div class="aligner" fxFlex>
                                <input
                                [ngClass]="{'color-invalid': f.students.invalid && f.students.touched}"
                                (focus)="onTouched()"
                                (click)="state=true"
                                (change)="selectStudentsFile($event)"
                                #fileInput type="file">

                                <div class="validation-text">
                                    <mat-error *ngIf="f.students.errors?.requiredFileTypes"> Wrong file type: csv/excel required</mat-error>
                                    <mat-error *ngIf="f.students.errors?.inappropriate && f.students.touched">Inappropriate file</mat-error>
                                    <mat-error *ngIf="f.students.errors?.required && f.students.touched">Missing file</mat-error>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    fxFlex 
                    fxLayout.lt-sm="column" 
                    fxLayout="row" 
                    class="duration-styles">
                    <div fxLayout="column" fxFlex>
                        <div class="aligner">
                            <mat-label><strong>Theory Duration:</strong></mat-label>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field fxFlex class="small-width"
                                appearance="outline">
                                <mat-label>Hours</mat-label>
                                <input 
                                    matInput 
                                    type="number" 
                                    placeholder="Hours"
                                    formControlName="theoryHours"
                                    min="1"
                                    max="3">
                                <span matSuffix>
                                    <mat-icon>timer</mat-icon>
                                </span>
                                <mat-hint>Set Hours.</mat-hint>
                                <mat-error *ngIf="f.theoryHours.errors?.max">Cannot set more than 3</mat-error>
                                <mat-error *ngIf="f.theoryHours.errors?.min">Cannot set less than 1</mat-error>
                                <mat-error *ngIf="f.theoryHours.errors?.required">Missing Hours</mat-error>
                            </mat-form-field>
    
                            <mat-form-field fxFlex class="small-width"
                                appearance="outline">
                                <mat-label>Minutes</mat-label>
                                <input 
                                    matInput 
                                    type="number" 
                                    placeholder="Minutes"
                                    formControlName="theoryMinutes"
                                    min="0"
                                    max="59">
                                <span matSuffix>
                                    <mat-icon>schedule</mat-icon>
                                </span>
                                <mat-hint>Set Minutes.</mat-hint>
                                <mat-error *ngIf="f.theoryMinutes.errors?.max">Cannot set more than 59</mat-error>
                                <mat-error *ngIf="f.theoryMinutes.errors?.min">Cannot set less than 0</mat-error>
                                <mat-error *ngIf="f.theoryMinutes.errors?.required">Missing Minutes</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="column" fxFlex>
                        <div class="aligner">
                            <mat-label><strong>Lab Duration:</strong></mat-label>
                        </div>
                        <div fxLayout="row">
                            <mat-form-field fxFlex class="small-width"
                                appearance="outline">
                                <mat-label>Hours</mat-label>
                                <input 
                                    matInput 
                                    type="number" 
                                    placeholder="Hours"
                                    formControlName="labHours"
                                    min="1"
                                    max="3">
                                <span matSuffix>
                                    <mat-icon>timer</mat-icon>
                                </span>
                                <mat-hint>Set Hours.</mat-hint>
                                <mat-error *ngIf="f.labHours.errors?.max">Cannot set more than 3</mat-error>
                                <mat-error *ngIf="f.labHours.errors?.min">Cannot set less than 1</mat-error>
                                <mat-error *ngIf="f.labHours.errors?.required">Missing Hours</mat-error>
                            </mat-form-field>
    
                            <mat-form-field fxFlex class="small-width"
                                appearance="outline">
                                <mat-label>Minutes</mat-label>
                                <input 
                                    matInput 
                                    type="number" 
                                    placeholder="Minutes"
                                    formControlName="labMinutes"
                                    min="0"
                                    max="59">
                                <span matSuffix>
                                    <mat-icon>schedule</mat-icon>
                                </span>
                                <mat-hint>Set Minutes.</mat-hint>
                                <mat-error *ngIf="f.labMinutes.errors?.max">Cannot set more than 59</mat-error>
                                <mat-error *ngIf="f.labMinutes.errors?.min">Cannot set less than 0</mat-error>
                                <mat-error *ngIf="f.labMinutes.errors?.required">Missing Minutes</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div fxLayout.lt-sm="column" fxLayout="row" fxFlex>
                    <mat-form-field fxFlex
                        appearance="outline">
                        <mat-label>Max Theories</mat-label>
                        <input 
                            matInput 
                            type="number" 
                            placeholder="Max Theories" 
                            formControlName="maxTheoryLectures"
                            min="1"
                            max="12">
                        <span matSuffix>
                            <mat-icon>note_add</mat-icon>
                        </span>
                        <mat-hint>Set Max Theories.</mat-hint>
                        <mat-error *ngIf="f.maxTheoryLectures.errors?.max">Cannot set more than 12</mat-error>
                        <mat-error *ngIf="f.maxTheoryLectures.errors?.min">Cannot set less than 1</mat-error>
                        <mat-error *ngIf="f.maxTheoryLectures.errors?.required">Missing Theories</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex
                        appearance="outline">
                        <mat-label>Max Labs</mat-label>
                        <input 
                            matInput 
                            type="number" 
                            placeholder="Max Labs"
                            formControlName="maxLabLectures"
                            min="1"
                            max="12">
                        <span matSuffix>
                            <mat-icon>construction</mat-icon>
                        </span>
                        <mat-hint>Set Max Labs.</mat-hint>
                        <mat-error *ngIf="f.maxLabLectures.errors?.max">Cannot set more than 12</mat-error>
                        <mat-error *ngIf="f.maxLabLectures.errors?.min">Cannot set less than 1</mat-error>
                        <mat-error *ngIf="f.maxLabLectures.errors?.required">Missing Labs</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxFlexFill
                    class="non-form-field-teacher">
                    <!-- Teachers
                    <button
                        [ngClass]="{'border-invalid': f.teachingStuff.invalid && f.teachingStuff.touched}"
                        type="button"
                        class="aligner"
                        mat-stroked-button color="primary"
                        (click)="selectTeachers()">
                        Choose Teacher(s)</button>
                        <mat-error class="aligner" class="validation-text" *ngIf="f.teachingStuff.errors?.required && f.teachingStuff.touched">Missing Teacher(s)</mat-error>
                    -->
                    <!-- New Teachers Button -->
                    <div fxLayout="column" class="class-group-aligner" fxFlex *ngIf="isAddMode">
                        <div fxLayout fxLayoutGap="0.5em">
                            <!-- TEACHERS -->
                            <button fxFlex
                            [class.border-invalid]="f.teachingStuff.invalid && f.teachingStuff.touched"
                                class="collapse-button-text"
                                type="button"
                                mat-stroked-button
                                (click)="selectTeachers()">
                                <div>{{'Selected: '}}{{ teachersCompleted ? currentTeachers : ' -- None -- ' }}</div>
                            </button>
                            <div *ngIf="teachersCompleted" class="aligner">
                                <button class="mat-icon-button-search-form"
                                    type="button"
                                    mat-icon-button
                                    (click)="clearTeacherFormValues()">
                                    <mat-icon inline="true">close</mat-icon>
                                </button>
                            </div>
                        </div>
                        <mat-hint *ngIf="!(f.teachingStuff.errors?.required && f.teachingStuff.touched)" class="course-schedule-hint-text">Choose Teacher(s)</mat-hint>
                        <mat-error  class="course-schedule-hint-text" *ngIf="f.teachingStuff.errors?.required && f.teachingStuff.touched">Missing Teacher(s)</mat-error>
                    </div>
                    <!--
                    <mat-accordion class="aligner"
                        *ngIf="currentTeachingStuff">
                        <mat-expansion-panel 
                            (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                Selected Teachers
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                            <hr>
                            <div fxLayout fxLayout.lt-sm="column">
                                <span
                                *ngFor="let teacher of currentTeachingStuff; let i = index">
                                    <span>
                                        <span>{{ teacher.firstname }} {{ teacher.lastname }}</span>
                                        <span *ngIf="i+1 > 0 && i+1 < currentTeachingStuff.length">{{delimeter}}</span>
                                    </span>
                                </span>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion> -->
                </div>

                <div fxLayoutAlign="center">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div
                    *ngIf="!isLoading"
                    fxLayout="row"
                    fxLayoutAlign="start">
                        <button 
                            type="submit" 
                            mat-raised-button color="primary" 
                            [disabled]="courseScheduleForm.invalid || isLoading">
                            {{ isAddMode ? 'Save' : 'Update' }}
                        </button>
                        <button 
                            type="button" 
                            mat-button color="primary" 
                            (click)="onCancel()">
                            Cancel
                        </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</section>