<div 
    [ngClass]="'container'"
    [ngClass.lt-sm]="'min-container'"
    fxFlex="30em"
    fxFlex.gt-md="30em"
    fxFlex.md="30em"
    fxFlex.lt-md="30em"
    fxFlex.lt-sm="20em"
>
    <div class="selectorContainer">
        <h1>Departments</h1>
        <mat-divider></mat-divider>
        <br>
        <form fxLayout="column"
        [formGroup]="selectSchoolForm">
            <mat-form-field
                appearance="outline"
                [hideRequiredMarker]="hideRequiredControl.value"
                [floatLabel]="floatLabelControl.value">
                <mat-select
                    [(value)]="selectedSchoolId"
                    panelClass="mat-select-panel"
                    formControlName="schoolId">
                    <mat-option
                        [value]="''"
                        (click)="onSubmit()">-- All Schools --</mat-option>
                    <mat-option 
                        *ngFor="let school of schools"
                        [value]="school.id.toString()"
                        (click)="onSubmit()">
                        <p>
                            {{ school.name }}
                        </p>
                    </mat-option>
                </mat-select>
                <mat-label><mat-icon>school</mat-icon> <b> School</b></mat-label>
                <mat-hint>Choose School</mat-hint>
            </mat-form-field>
        </form>
    </div>

    <a routerLink="add" 
       mat-raised-button
       color="primary">Add Department</a>

    <div class="table-container">
        <div fxLayoutAlign="center">
            <mat-form-field fxFlex="60%">
                <div fxLayout="row">
                    <input
                        matInput 
                        placeholder="Search departments" #input>
                    <mat-icon 
                        matSuffix 
                        inline="true">search</mat-icon>
                    <button 
                        mat-button 
                        *ngIf="input.value"
                        matSuffix 
                        mat-icon-button (click)="clearInput()">
                        <mat-icon inline="true">close</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </div>

        <div class="mat-elevation-z8">
            <mat-table
                [dataSource]="dataSource" matSort matSortActive="id"
                matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let department">{{ department.id | number }}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let department">{{ department.name }}</mat-cell>
                </ng-container>
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedColumns;"
                    routerLink="detail/{{row.id}}"
                    routerLinkActive="active"
                    class="table-row-style"
                    matRipple>
                </mat-row>
            </mat-table>
        
            <mat-paginator
                [length]="totalItems"
                [pageSize]="3" 
                [pageSizeOptions]="[3, 5]"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>