.container {
    /*border: 2px solid black;*/
    padding: 2em;
}

.min-container {
    /*border: 2px solid black;*/
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.table-row-style:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.table {
    margin-top: 1em;
    max-width: 70%;
}

.mat-column-id {
    max-width: 13%;
}

.mat-column-name {
    max-width: 87%;
    margin-left: 6%;
}

.selectorContainer {
    max-width: 70%;
    padding-bottom: 1em;
}

.mat-icon-button {
    height: 1em;
    width: 1em;
    font-size: 1em;
    line-height: 1em;
}