<div 
    [ngClass]="'container'"
    [ngClass.lt-sm]="'min-container'"
    fxFlex="40em"
    fxFlex.lt-sm="calc(20em)"
>
    <a routerLink="add"
       mat-raised-button
       color="primary">Add Active Course</a>

    <div class="table-container">
        <div fxLayoutAlign="center">
            <mat-form-field fxFlex="45%">
                <div fxLayout="row">
                    <input
                        matInput 
                        placeholder="Search active courses" #input>
                    <mat-icon 
                        matSuffix 
                        inline="true">search</mat-icon>
                    <button 
                        mat-button 
                        *ngIf="input.value"
                        matSuffix 
                        mat-icon-button (click)="clearInput()">
                        <mat-icon inline="true">close</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </div>

        <div class="mat-elevation-z8">
            <mat-table
                [dataSource]="dataSource" matSort matSortActive="id"
                matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let activeCourse">{{ activeCourse.id | number }}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let activeCourse">{{ activeCourse.course.name }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="semester">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Semester</mat-header-cell>
                    <mat-cell *matCellDef="let activeCourse">{{ activeCourse.course.semester }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="academicYear">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Academic Year</mat-header-cell>
                    <mat-cell *matCellDef="let activeCourse">{{ activeCourse.academicYear }}</mat-cell>
                </ng-container>
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedColumns;"
                    routerLink="detail/{{row.id}}"
                    routerLinkActive="active"
                    class="table-row-style"
                    matRipple>
                </mat-row>
            </mat-table>
        
            <mat-paginator
                [length]="totalItems"
                [pageSize]="3" 
                [pageSizeOptions]="[3, 5]"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>