.container {
    /*border: 2px solid black;*/
    padding: 2em;
}

.min-container {
    /*border: 2px solid black;*/
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.table-container {
    margin-top: 1em;
}

.mat-column-id {
    max-width: 13%;
}

.mat-column-name {
    max-width: 42%;
    margin-right: 6%;
}

.mat-column-semester {
    max-width: 20%;
    margin-right: 6%;
}

.mat-column-academicYear {
    max-width: 25%;
    margin-right: 6%;
}

.selectorContainer {
    padding-bottom: 1em;
}

.table-row-style:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.mat-icon-button {
    height: 1em;
    width: 1em;
    font-size: 1em;
    line-height: 1em;
}