<div 
    [ngClass]="'container'"
    [ngClass.lt-sm]="'min-container'"
    fxFlex="40em"
    fxFlex.lt-sm="calc(20em)">

    <div class="table-container">
        <div fxLayoutAlign="center">
            <mat-form-field fxFlex="60%">
                <div fxLayout="row">
                    <input
                        matInput 
                        placeholder="Search course name" 
                        [(ngModel)]="filterText" #input>
                    <mat-icon 
                        matSuffix 
                        inline="true">search</mat-icon>
                    <button 
                        mat-button 
                        *ngIf="input.value"
                        matSuffix 
                        mat-icon-button (click)="clearInput()">
                        <mat-icon inline="true">close</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </div>

        <div class="mat-elevation-z8">
            <mat-table
                [dataSource]="dataSource" matSort matSortActive="id"
                matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let course">{{ course.id | number }}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</mat-header-cell>
                    <mat-cell *matCellDef="let course">{{ course.name }}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="active-course">
                    <mat-header-cell *matHeaderCellDef>Active Course</mat-header-cell>
                    <mat-cell *matCellDef="let course">
                        <div fxLayoutGap="0.5em">
                            <a routerLink="add/{{course.id}}" mat-raised-button color="primary">Add</a>
                            <a routerLink="detail/{{course.id}}" mat-raised-button >View</a>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedColumns;"
                    class="table-row-style">
                </mat-row>
            </mat-table>
        
            <mat-paginator
                [length]="totalItems"
                [pageSize]="3" 
                [pageSizeOptions]="[3, 5]"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>