<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Self aware panel
            </mat-panel-title>
            <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
            <div fxLayoutAlign="center">
                <mat-form-field fxFlex="60%">
                    <div fxLayout="row">
                        <input
                            matInput 
                            placeholder="Search course name" #input>
                        <mat-icon 
                            matSuffix 
                            inline="true">search</mat-icon>
                        <button 
                            mat-button 
                            *ngIf="input.value"
                            matSuffix 
                            mat-icon-button (click)="clearInput()">
                            <mat-icon inline="true">close</mat-icon>
                        </button>
                    </div>
                </mat-form-field>
            </div>
            <mat-table
                [dataSource]="dataSource" matSort matSortActive="id"
                matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let course">{{ course.id | number }}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</mat-header-cell>
                    <mat-cell *matCellDef="let course">{{ course.name }}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedColumns;"
                    matRipple
                    class="table-row-style">
                </mat-row>
            </mat-table>
        
            <mat-paginator
                [length]="totalItems"
                [pageSize]="3" 
                [pageSizeOptions]="[3, 5]"
                showFirstLastButtons>
            </mat-paginator>
    </mat-expansion-panel>
</mat-accordion>