<div 
    [ngClass]="'container'"
    [ngClass.lt-sm]="'min-container'"
    fxFlex="40em"
    fxFlex.lt-sm="calc(20em)"
>

    <div class="selectorContainer">
        <h1>Courses Schedules</h1>
        <mat-divider></mat-divider>
        <br>
        <br>
        <form fxLayout="column"
        [formGroup]="selectDepartmentForm">
            <mat-form-field
                appearance="outline">
                <mat-select
                    [(value)]="selectedDepartmentId"
                    panelClass="mat-select-panel"
                    formControlName="departmentId">
                    <mat-option
                        [value]="''"
                        (click)="onSubmit()">-- All Departments --</mat-option>
                    <mat-option 
                        *ngFor="let department of departments"
                        [value]="department.id.toString()"
                        (click)="onSubmit()">
                        <p>
                            {{ department.name }}
                        </p>
                    </mat-option>
                </mat-select>
                <mat-label><mat-icon>domain</mat-icon> <b> Department</b></mat-label>
                <mat-hint>Choose Department</mat-hint>
            </mat-form-field>
        </form>
    </div>

    <span matTooltip="Select a Specific Department"
         matTooltipPosition="after"
         [matTooltipDisabled]="selectedDepartmentId !==''">
        <button
            *ngIf="departments"
            type="button"
            mat-raised-button
            color="primary"
            routerLink="add"
            [disabled]="selectedDepartmentId === ''">Add Course Schedule</button>
    </span>

    <div class="table-container">
        <div fxLayoutAlign="center">
            <mat-form-field fxFlex="45%">
                <div fxLayout="row">
                    <input
                        matInput 
                        placeholder="Search courses schedules" #input>
                    <mat-icon 
                        matSuffix 
                        inline="true">search</mat-icon>
                    <button 
                        mat-button 
                        *ngIf="input.value"
                        matSuffix 
                        mat-icon-button (click)="clearInput()">
                        <mat-icon inline="true">close</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </div>

        <div class="mat-elevation-z8">
            <mat-table
                [dataSource]="dataSource" matSort matSortActive="id"
                matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let courseSchedule">{{ courseSchedule.id | number }}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let courseSchedule">{{ courseSchedule.course.name }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="semester">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Semester</mat-header-cell>
                    <mat-cell *matCellDef="let courseSchedule">{{ courseSchedule.course.semester.semesterName }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let courseSchedule">{{ courseSchedule.status===true?'active':'pending' }}</mat-cell>
                </ng-container>
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: displayedColumns;"
                    routerLink="detail/{{row.id}}"
                    routerLinkActive="active"
                    class="table-row-style"
                    matRipple>
                </mat-row>
            </mat-table>
        
            <mat-paginator
                [length]="totalItems"
                [pageSize]="3" 
                [pageSizeOptions]="[3, 5]"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>