<section *ngIf="presenceTable"
    [ngClass]="'container'"
    [ngClass.lt-md]="'min-container'"
    fxLayout>
    <div *ngIf="presence">
        <mat-card
            class="mat-elevation-z8"
            fxFlex.xs="19em"
            fxFlex="22em">
            <mat-card-title fxLayoutAlign="center">
                Presence Details
            </mat-card-title>
            <br>
            <mat-card-content fxLayout="column" 
            fxLayoutAlign="center"
            fxLayoutGap="1em">
                <div *ngIf="!showStudentFeatures">
                    <mat-label><strong>Student:</strong></mat-label>
                    {{ presence?.student?.username }}
                </div>
                <div>
                    <mat-label><strong>Course:</strong></mat-label>
                    {{ presence?.classSession?.lecture?.courseSchedule?.course?.name }}
                </div>
                <div>
                    <mat-label><strong>Lecture:</strong></mat-label>
                    {{ presence?.classSession?.lecture?.nameIdentifier }}
                </div>
                <div fxLayout="column">
                    <mat-label><strong>Session's Date & Time:</strong></mat-label>
                    <span>{{ presence?.classSession?.date + ' ' + presence?.classSession?.classGroup?.startTime + ' - ' + presence?.classSession?.classGroup?.endTime }}</span>
                </div>
                <div>
                    <label><strong>Status:</strong></label>
                    {{ presence?.status ? 'Present' : presence?.status === false ? 'Absent' : 'Pending' }}
                </div>
                <div *ngIf="presence?.status === false">
                    <mat-label><strong>Excuse Status:</strong></mat-label>
                    {{ presence?.excuseStatus ? 'Excused' : 'Inexcusable' }}
                </div>
                <div fxLayout="column" *ngIf="presence?.status !== null">
                    <label><strong>{{ presence?.status === false ? 'Absence' : 'Presence' }} Date & time:</strong></label>
                    <span>{{ presence?.dateTime }}</span>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div *ngIf="!showStudentFeatures">
                    <button
                        mat-raised-button color="primary"
                        (click)="editPresence()">
                        Edit
                    </button>
                    <!--
                    <button 
                        mat-raised-button color="warn"
                        (click)="deletePresence(presence.id)">
                        Delete
                    </button> -->
                </div>
                <hr>
                <div fxLayoutAlign="end">
                    <button 
                        mat-button color="primary"
                        (click)="onCancel()">
                        Cancel
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</section>